<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
<div id="Results" class="row">
	<div class="span10 offset1 GreyBox">
		<div id="Score">Score = <%=@totalscore%></div>
		<div id="Time">Total time = <%=@totaltime%></div>
		<div id="Correct">Correct =<%=@totalcorrect%></div>
		<div id="Incorrect">Incorrect =<%=@totalincorrect%></div>
		<div id="NoResponse">No Response =<%=@totalnoanswer%></div>
		<div id="Total">Total Questions =<%=@totalquest%></div>
	</div>	
</div>
